<h2>Session History</h2>
<%# Done sessions %>
<!--
<ul>
  <% @reading_sessions_done.each do |sess| %>
    <li><%= sess.page_count %></li>
    <li><%= sess.session_start %></li>
    <li><%= sess.session_end %></li>
    <li><%= sess.duration %></li>
  <% end %>
</ul>
-->


<% if @reading_sessions_done.blank? %>
  <p>No sessions done yet</p>
<% else %>
 <%= render "session" %>
<% end %>
