<% if @tracker.blank? %>
  <p>Not tracked yet</p>
<% else %>
  <p>Current page: <%= @tracker.current_page %></p>
  <p>Total time spent:
    <%= @tracker.total_minutes_spent / 3600 %> Hours,
    <%= (@tracker.total_minutes_spent % 3600) / 60 %> Minutes,
    <%= @tracker.total_minutes_spent % 60 %> Seconds
  </p>

  <%= column_chart @reading_sessions_done
                    .group_by_day_of_week(:session_start, format: "%a")
                    .sum(:duration).map { |k, v| [k, v/60] },
                    ytitle: "Total Duration (minutes)",
                        title: "Reading Sessions Duration",
                        library: {
                          scales: {
                            y: {
                              ticks: {
                              stepSize: 30
                              }
                            }
                          }
                        } %>


  <%= column_chart @reading_sessions_done
                      .group_by_day_of_week(:session_start, format: "%a")
                      .average(:page_count).map { |k, v| [k, v.to_i] },
                      ytitle: "average page read" %>

<% end %>
