


<div class="index-container">
  <h2>Library</h2>
  <div class="book-section">
    <% if @reading_lists.empty? %>
      <p>There are no Books yet.</p>
    <% else %>
      <div class="books">
        <% @reading_lists.each do |reading_list| %>
          <div class="book-card">
            <% if reading_list.book.cover_url.present? %>
              <div class="book-cover-container">
                <%= link_to book_path(reading_list.book) do %>
                  <%= image_tag reading_list.book.cover_url, alt: "Book Cover", class: "book-cover" %>
                <% end %>
              </div>
            <% else %>
              <div class="book-cover-container">
                <%= link_to book_path(reading_list.book) do %>
                  <%= image_tag 'Discover/missingbook.jpeg', alt: 'No Cover', class: 'book-cover' %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<h2>Books Read</h2>
<div class="">
  <% @reading_lists_done.each do |done| %>
    <li><%= done.book.title %> <%= link_to "show", reading_list_path(done) %></li>
  <% end %>
</ul>
