<%= content_for :title, "Discover" %>

<div class="discover-container">

  <%= render "shared/search_bar" %>

  <div class="main-banner-container">
    <div class="main-banner">
      <div class="main-banner-content">
        <h1>Bookflow</h1>
        <p>Discover and Share Books</p>
        <p><%= link_to "Log in", new_user_session_path, class: "primary-button" %></p>
      </div>
    </div>
  </div>

  <div class="genres">
    <h3>Genres</h3>
    <div class="genre-buttons">
      <div class="genre-container">
        <%= link_to books_path(genre_query: "Fantasy"), class: "genre-button" do %>
          <%= image_tag("Discover/Fantasy Cover.png", alt: "Fantasy", class: "genre-image") %>
        <% end %>
        <div class="genre-name">Fantasy</div>
      </div>

      <div class="genre-container">
        <%= link_to books_path(genre_query: "Novels"), class: "genre-button" do %>
          <%= image_tag("Discover/Novel Cover.png", alt: "Novels", class: "genre-image") %>
        <% end %>
        <div class="genre-name">Novels</div>
      </div>

      <div class="genre-container">
        <%= link_to books_path(genre_query: "Romance"), class: "genre-button" do %>
          <%= image_tag("Discover/Romance Cover.png", alt: "Romance", class: "genre-image") %>
        <% end %>
        <div class="genre-name">Romance</div>
      </div>

      <div class="genre-container">
        <%= link_to books_path(genre_query: "Thriller"), class: "genre-button" do %>
          <%= image_tag("Discover/Thriller Cover.png", alt: "Thriller", class: "genre-image") %>
        <% end %>
        <div class="genre-name">Thriller</div>
      </div>
    </div>
  </div>

  <div class="book-section">
  <h3>Recommendations</h3>
  <div class="books">
    <% @recommended_books.each do |book| %>
      <div class="book-card">
        <% if book.cover_url.present? %>
          <div class="book-cover-container">
            <%= link_to book_path(book) do %>
              <%= image_tag book.cover_url, alt: book.title, class: "book-cover" %>
            <% end %>
          </div>
        <% else %>
          <div class="book-cover-container">
            <%= link_to book_path(book) do %>
              <%= image_tag 'Discover/missingbook.jpeg', alt: 'No Cover', class: 'book-cover' %>
            <% end %>
          </div>
        <% end %>
        <p class="book-rating">
          <%= book.overall_rating.present? ? "<i class='fas fa-star' style='color: #FFD700;'></i> #{number_with_precision(book.overall_rating, precision: 1)}".html_safe : "<i class='fas fa-star' style='color: #FFD700;'></i> n/a".html_safe %>
        </p>
      </div>
    <% end %>
  </div>
  </div>

  <div class="book-section">
    <h3>Today's Top Picks</h3>
    <div class="books">
      <% @top_picks.each do |book| %>
        <div class="book-card">
          <% if book.cover_url.present? %>
            <div class="book-cover-container">
              <%= link_to book_path(book) do %>
                <%= image_tag book.cover_url, alt: book.title, class: "book-cover" %>
              <% end %>
            </div>
          <% else %>
            <div class="book-cover-container">
              <%= link_to book_path(book) do %>
                <%= image_tag 'Discover/missingbook.jpeg', alt: 'No Cover', class: 'book-cover' %>
              <% end %>
            </div>
          <% end %>
          <p class="book-rating">
            <%= book.overall_rating.present? ? "<i class='fas fa-star' style='color: #FFD700;'></i> #{number_with_precision(book.overall_rating, precision: 1)}".html_safe : "<i class='fas fa-star' style='color: #FFD700;'></i> n/a".html_safe %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
