<% @genres.each do |key, value| %>
  <div class="genres">
    <h3><%= key %></h3>
    <div class="genre-buttons">
      <div class="genre-container">

        <% value.each do |book| %>

          <% if book.cover_url.present? %>
            <div class="genre-button">
              <%= link_to book_path(book) do %>
                <%= image_tag book.cover_url, alt: book.title, class: "book-cover" %>
              <% end %>
            </div>

          <% else %>

            <div class="genre-button">
              <%= link_to book_path(book) do %>
                <%= image_tag 'Discover/missingbook.jpeg', alt: 'No Cover', class: 'book-cover' %>
              <% end %>
            </div>

          <% end %>
          
        </div>
      <% end %>
    </div>
  </div>
<% end %>
