<% @genres.each do |key, value| %>
  <div class="swipeable-book-section">
    <h3 class="swipeable-section-title"><%= key %></h3>
    <div class="swipeable-books">
      <% value.each do |book| %>
        <div class="swipeable-book-card">
          <% if book.cover_url.present? %>

              <%= link_to book_path(book) do %>
                <%= image_tag book.cover_url, alt: book.title, class: "swipeable-book-cover" %>
              <% end %>
           
          <% else %>

              <%= link_to book_path(book) do %>
                <%= image_tag 'Discover/missingbook.jpeg', alt: 'No Cover', class: 'swipeable-book-cover' %>
              <% end %>

          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
