<%= render "shared/searchbar" %>

<% if params[:genre].present? %>
  <div class="filter">
    <p>Showing books in genre: <%= params[:genre].capitalize %></p>
    <%= link_to "Clear Filter", books_path, class: "clear-filter" %>
  </div>
<% end %>

<ul>
  <% @books.each do |book| %>
    <li> <%= image_tag book.cover_url, alt: book.title %> <%= link_to book.title, book_path(book) %>  | <em><%= book.author %></em>  |  <strong><%= book.genre %></strong></li>
  <% end %>
</ul>
