<%= content_for :title, "Books" %>

<div class="index-container">

  <%= render "shared/search_bar" %>

  <% if params[:query].present? || params[:genre_query].present? %>
    <div class="book-section">
      <h3>Search Results</h3>
      <div class="books">
        <% @books.each do |book| %>
          <div class="book-card">
            <% if book.cover_url.present? %>
              <div class="book-cover-container">
                <%= link_to book_path(book.key) do %>
                  <%= image_tag book.cover_url, alt: "Book Cover", class: "book-cover" %>
                <% end %>
              </div>
            <% else %>
              <div class="book-cover-container">
                <%= link_to book_path(book.key) do %>
                  <%= image_tag 'Discover/missingbook.jpeg', alt: 'No Cover', class: 'book-cover' %>
                <% end %>
              </div>
            <% end %>
           
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <p>No search results found. Try searching for a different book or genre.</p>
  <% end %>

</div>
