<ul>
  <li>Title: <%= @book.title %></li>
  <li>Author: <%= @book.author %></li>
  <li>Year Published: <%= @book.year_published %></li>
  <li>Page Count: <%= @book.page_count %></li>
  <li>Summary: <%= @book.summary %></li>
</ul>
