<div class="book-detail-container">
  <div class="book-detail-header">
    <div class="book-detail-cover-container">
      <%= image_tag @book.cover_url.present? ? @book.cover_url : 'Discover/missingbook.jpeg', alt: @book.title, class: "book-detail-cover" %>
    </div>
    <div class="book-detail-info">
      <h1><%= @book.title %></h1>
      <p>by <%= @book.author %></p>
      <br>
      <p><strong>Published Year:</strong> <%= @book.year_published %></p>
      <% unless @book.genre.nil? %>
        <p><strong>Genre:</strong> <%= @book.genre %></p>
      <% end %>
      <p><strong>Page Count:</strong> <%= @book.page_count %> pages</p>
      <p>
        <strong>Overall Rating:</strong>
        <i class="fas fa-star" style="color: #FFD700;"></i>
        <%= @book.overall_rating == @book.overall_rating ? @book.overall_rating : number_with_precision(@book.overall_rating, precision: 1) %>
        / 5
      </p>
    </div>
  </div>

  <% if current_user.reading_lists.where(book_id: @book.id, active: true).exists? %>
    <div class="d-flex justify-content-between">
      <%= button_to deactivate_path(@reading_list), method: :patch, data: { turbo_method: :patch, confirm: "Are you sure?" }, class: "book-detail-leave-review-btn" do %>
        <i class="fa-solid fa-x"></i> Remove Book
      <% end %>
      <%= link_to reading_list_path(@reading_list), class: "book-detail-add-button text-decoration-none" do %>
        <i class="fa-solid fa-play me-2"></i> Go to Tracker
      <% end %>
    </div>
  <% else %>
    <div class="d-flex justify-content-center">
      <%= button_to book_reading_lists_path(@book), method: :post, class: "book-detail-add-button", id: "add-to-reading-list-btn", data: { turbo_method: :post } do %>
        <i class="fa-solid fa-plus me-2"></i> Add to Reading List
      <% end %>
    </div>
  <% end %>

  <!-- Mark book as read
  <% if @reading_list %>
    <% if @reading_list.read? %>
      <div class="badge bg-success">Read</div>
    <% else %>
      <%= button_to "Mark as Read", mark_as_read_reading_list_path(@reading_list), method: :patch, class: "btn btn-primary" %>
    <% end %>
  <% else %>
    <%= button_to "Mark as read", create_read_book_reading_lists_path(@book), method: :post, class: "book-detail-add-button", data: { turbo_method: :post } %>
  <% end %>
  -->


  <p style="margin-top: 30px;"><strong>Summary:</strong></p>
  <p class="book-detail-summary"><%= @book.summary %></p>

  <h4 style="margin-top: 30px;">Reviews</h4>
  <!-- Review Form Toggle -->
  <div data-controller="toggle">
    <button type="button" data-action="click->toggle#fireReview" class="book-detail-leave-review-btn">
      <i class="fa-regular fa-comment"></i> Leave a Review
    </button>
    <div data-toggle-target="togglableElement" class="d-none">
      <div id="review-form" class="form">
        <p style="margin-top: 20px; font-weight: bold;">Write a Review for <%= @book.title %></p>
        <%= simple_form_for([@book, @review], html: { autocomplete: "off" }) do |f| %>
          <%= f.input :title, label: "Title", autocomplete: "off", input_html: { class: "input-form" } %>
          <%= f.input :content, autocomplete: "off", input_html: { class: "input-form" } %>
          <%= f.input :rating, label: "Rating", input_html: { class: "input-form" } %>
          <%= f.button :submit, value: "Submit Review", class: "book-detail-submit-review-btn" %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Reviews Display -->
  <% @reviews.each do |review| %>
    <div class="review" data-controller="toggle">
      <h5><%= review.title %></h5>
      <% user = review.user %>
      <% if user %>
        <p>by <%= user.first_name %> <%= user.last_name %></p>
      <% end %>
      <p><%= review.content %></p>
      <div>
        <%# <strong>Rating:</strong> %>
        <% (1..5).each do |star| %>
          <% if review.rating >= star %>
            <i class="fa-solid fa-star" style="color: #FFD700;"></i>
          <% else %>
            <i class="fa-regular fa-star" style="color: #FFD700;"></i>
          <% end %>
        <% end %>
      </div>

      <!-- Edit & Delete Options for the User's Own Review -->
      <% if review.user == current_user %>
        <button type="button" data-action="click->toggle#fireEdit" class="edit-review-btn">
          <i class="fa-solid fa-pen" style="margin-right: 8px;"></i>Edit
        </button>
        <div data-toggle-target="toggleEdit" class="d-none">
          <div id="edit-form" class="form">
            <p style="margin-top: 20px; font-weight: bold;">Edit review for <%= @book.title %></p>
            <%= simple_form_for([@book, review], url: book_review_path(@book, review), html: { autocomplete: "off" }) do |f| %>
              <%= f.input :title, label: "Title", autocomplete: "off", input_html: { class: "input-form" } %>
              <%= f.input :content, autocomplete: "off", input_html: { class: "input-form" } %>
              <%= f.input :rating, label: "Rating", input_html: { class: "input-form" } %>
              <%= f.button :submit, value: "Update Review", class: "book-detail-submit-review-btn" %>
            <% end %>
          </div>
        </div>
        <%= link_to book_review_path(@book, review), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "delete-review-btn" do %>
          <i class="fa-solid fa-x" style="margin-right: 8px;"></i>Delete
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
