<div class="activity-card-container">
  <% @trackers.each do |t| %>
    <%= link_to reading_list_path(t.reading_list), class: "session-card" do %>
    <div class="activity-cover">
      <%= image_tag t.reading_list.book.cover_url %>
    </div>
      <div class="activity-details">
        <h3 class="activity-title"><%= t.reading_list.book.title %></h3>
        <p class="activity-author">by <%= t.reading_list.book.author %></p>
      </div>

      <!-- Progress bar
      <div class="progress">
        <% total_pages = t.reading_list.book.page_count %>
        <% current_page = t.current_page %>
        <% progress_percentage = total_pages.positive? ? (current_page.to_f / total_pages * 100).round : 0 %>

        <div class="progress-bar"
            role="progressbar"
            aria-valuenow="<% progress_percentage %>"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: <%= progress_percentage %>%;"><%= progress_percentage %>%
          </div>
      </div>
-->
 <div class="bf-progress">
        <% total_pages = t.reading_list.book.page_count %>
        <% current_page = t.current_page %>
        <% progress_percentage = total_pages.positive? ? (current_page.to_f / total_pages * 100).round : 0 %>

        <div class="bf-progress-bar" style="width: <%= progress_percentage %>%;"></div>
        <div class="bf-progress-text"><%= progress_percentage %>%</div>
      </div>


      <!-- Details -->
      <div class="activity-info">
        <div class="activity-row activity-time">
          <strong>Time:</strong>
          <p><%= Time.at(t.total_minutes_spent).utc.strftime("%H:%M:%S") %></p>
        </div>
        <div class="activity-row activity-pages">
          <strong>Pages:</strong>
          <p><%= t.current_page %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
