<p>List of books currently being tracked.</p>
<div class="activity-card-container">
  <% @trackers.each do |t| %>
    <%= link_to reading_list_path(t.reading_list), class: "session-card" do %>
      <%= image_tag t.reading_list.book.cover_url %>
      <div class="activity-card-details">
        <h3><%= t.reading_list.book.title %></h3>
        <p><%= t.reading_list.book.author %></p>
      </div>

      <!-- Progress bar -->
      <div class="progress">
        <% total_pages = t.reading_list.book.page_count %>
        <% current_page = t.current_page %>
        <% progress_percentage = total_pages.positive? ? (current_page.to_f / total_pages * 100).round : 0 %>


        <div class="progress-bar"
            role="progressbar"
            aria-valuenow="<% progress_percentage %>"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: <%= progress_percentage %>%;"><%= progress_percentage %>%
          </div>
      </div>
    <% end %>
  <% end %>
</div>
