
<!--
<% if @tracker.blank? %>
  <p>Not tracked yet</p>
<% else %>
  <p>Current page at: <%= @tracker.current_page %></p>
  <p>Total time spent:
    <%= @tracker.total_minutes_spent / 3600 %> Hours,
    <%= (@tracker.total_minutes_spent % 3600) / 60 %> Minutes,
    <%= @tracker.total_minutes_spent % 60 %> Seconds
  </p>

  <%= column_chart @reading_sessions_done
                   .group_by_day_of_week(:created_at, format: "%a")
                   .sum(:duration),
                   xtitle: "Day of Week",
                   ytitle: "Total Duration" %>


  <%= column_chart @reading_sessions_done
                      .group_by_day_of_week(:created_at, format: "%a")
                      .average(:page_count).map { |k, v| [k, v.to_i] },
                      xtitle: "Day of Week",
                      ytitle: "average page red" %>

<% end %>
-->
<div class="d-flex justify-content-between bf-card-stat">
  <p>Books tracked: </p>
  <p>
  <%= @trackers_all.count %>
  </p>
</div>

<div class="d-flex justify-content-between bf-card-stat">
  <p>Time spent reading: </p>
  <p>
  <%= @total_minutes_spent / 3600 %> Hrs,
  <%= (@total_minutes_spent % 3600) / 60 %> Min,
  <%= @total_minutes_spent % 60 %> Sec
  </p>
</div>

<div class="d-flex justify-content-between bf-card-stat">
  <p>Pages read: </p>
  <p>
  <%= @total_current_pages %>
  </p>
</div>


<div class="bf-chart">
  <%= line_chart @trackers_all.group_by_day(:created_at, format: "%a").count
                    .map { |k, v| [k, v] },
                    height: "240px",
                    colors: ["#e49933", "#e36f08"],
                    title: "Total Books" %>


</div>

<div class="bf-chart">
  <%= line_chart @trackers_all.group_by_day(:created_at, format: "%a")
                      .average(:current_page),
                      height: "240px",
                      colors: ["#e49933", "#e36f08"],
                      title: "Daily Pages" %>


</div>

<div class="bf-chart">
  <%= line_chart @trackers_all.group_by_day(:created_at, format: "%a")
                                .average(:total_minutes_spent)
                                .map { |k, v| [k, v.to_i/60] },
                                height: "240px",
                                colors: ["#e49933", "#e36f08"],
                                title: "Time Spent (minutes)",
                                library: {
                                  scales: {
                                    y: {
                                      ticks: {
                                        stepSize: 30
                                      }
                                    }
                                  }
                                } %>


</div>
